In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
df_main = pd.read_csv(os.path.abspath('amazon_purchases.csv'))
df_main

,Order ID,Order Date,Category,Website,Condition,Seller,List Price Per Unit,Purchase Price Per Unit,Quantity,Shipment Date,Carrier Name & Tracking Number,Item Subtotal,Item Subtotal Tax,Item Total
0,1,2/19/08,ABIS_BOOK,Amazon.com,NaN,Amazon.com,$29.99,$19.79,1,2/25/08,USPS,$19.79,$0.00,$19.79
1,2,2/19/08,ABIS_BOOK,Amazon.com,NaN,Amazon.com,$27.95,$18.45,1,2/25/08,USPS,$18.45,$0.00,$18.45
2,3,6/3/08,ABIS_BOOK,Amazon.com,NaN,Amazon.com,$34.99,$23.09,1,6/4/08,UPS,$23.09,$0.00,$23.09
3,4,11/6/08,BEAUTY,Amazon.com,NaN,SimplyBeautiful,$6.99,$9.39,1,11/7/08,USPS,$9.39,$0.00,$9.39
4,5,11/6/08,HAIR_STYLING_AGENT,Amazon.com,NaN,SimplyBeautiful,$10.99,$7.99,1,11/7/08,USPS,$7.99,$0.00,$7.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973,974,12/24/19,HEALTH_PERSONAL_CARE,Amazon.com,new,Amazon.com,$24.99,$13.59,2,12/26/19,AMZN_US,$27.18,$0.00,$27.18
974,975,12/27/19,BEAUTY,Amazon.com,new,Amazon.com,$0.00,$6.54,1,1/9/20,AMZN_US,$6.54,$0.43,$6.97
975,976,1/1/20,HEALTH_PERSONAL_CARE,Amazon.com,new,Amazon.com,$12.13,$11.98,2,1/3/20,AMZN_US,$23.96,$1.58,$25.54
976,977,1/1/20,HEALTH_PERSONAL_CARE,Amazon.com,new,Amazon.com,$24.50,$8.87,1,1/2/20,USPS,$8.87,$0.00,$8.87
977,978,1/1/20,HEALTH_PERSONAL_CARE,Amazon.com,new,MJ's Herbals,$0.00,$12.99,1,1/2/20,USPS,$12.99,$0.77,$13.76

In [3]:
df_main.shape

(978, 14)

In [4]:
# Dates and prices are strings so they must be changed.
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 978 entries, 0 to 977
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Order ID                        978 non-null    int64
 1   Order Date                      978 non-null    object
 2   Category                        896 non-null    object
 3   Website                         978 non-null    object
 4   Condition                       956 non-null    object
 5   Seller                          966 non-null    object
 6   List Price Per Unit             978 non-null    object
 7   Purchase Price Per Unit         978 non-null    object
 8   Quantity                        978 non-null    int64
 9   Shipment Date                   967 non-null    object
 10  Carrier Name & Tracking Number  954 non-null    object
 11  Item Subtotal                   978 non-null    object
 12  Item Subtotal Tax               978 non-null    object
 13  Item Total                      978 non-null    object
dtypes: int64(2), object(12)
memory usage: 107.1+ KB